---

import Default from '@astrojs/starlight/components/SocialIcons.astro';

---

<a href="https://github.com/vic/import-tree/releases"><img src="https://img.shields.io/github/v/release/vic/import-tree?logo=github&color=white"/></a>

<a href="https://deepwiki.com/vic/import-tree"><img src="https://deepwiki.com/badge.svg" alt="Ask DeepWiki"></a>

<a href="https://dendritic.oeiuwq.com"> <img src="https://img.shields.io/badge/@vic-Dendritic libs-informational?logo=nixos&logoColor=white" alt="Vic Dendritic Nix"/> </a>

<a href="https://dendritic.oeiuwq.com/sponsor"><img src="https://img.shields.io/badge/Sponsor-@vic-white?logo=githubsponsors&logoColor=white" alt="Sponsor Den"/>
</a>

<Default />
